@import 'src/styles/utils/mixin.scss';

$blue: #228be6;
$gray: #495057;
$pink: #f06595;

.my_button {
  display: inline-flex;
  align-items: center;
  color: white;
  font-weight: bold;
  outline: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  height: 2.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;

  &.fullWidth {
    width: 100%;
    justify-content: center;
    & + & {
      margin-left: 0;
      margin-top: 1rem;
    }
  }

  &.large {
    @include get-size(3rem, 1rem, 1rem, 1.25rem);
  }

  &.medium {
    @include get-size(2.25rem, 1rem, 1rem, 1rem);
  }

  &.small {
    @include get-size(1.75rem, 1rem, 1rem, 0.875rem);
  }

  // 색상 관리
  &.blue {
    @include button-color($blue);
  }

  &.gray {
    @include button-color($gray);
  }

  &.pink {
    @include button-color($pink);
  }

  background: $blue; // 주석 사용
  &:hover {
    background: lighten($blue, 10%); // 색상 10% 밝게
  }

  &:active {
    background: darken($blue, 10%); // 색상 10% 어둡게
  }
  & + & {
    margin-left: 1rem;
  }
}
